html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-family: sans-serif;
}

/* Navbar
------------------------------------------------ */

.button-borders {
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}

.button-borders:hover {
  border-left: 1px solid rgba(0, 0, 0, .08);
  border-right: 1px solid rgba(0, 0, 0, .08);
  border-width: 1px;
}

.search-button {
  height: 38px;
}

.navbar_buttons_left_of_search {
  /*float: left;*/
}

.navbar_search_section {
  flex-grow: 1;
  display: flex;
}

.search_field {
  flex-grow: 1;
}

/*
---------------------------------------------------*/

.User_log_in_details {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 10px;
}










/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
